.gradle
/build/
/dump/
!gradle/wrapper/gradle-wrapper.jar

/application*.yml
/bootstrap*.yml
!/application-local.yml
!/bootstrap-local.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

node_modules/
!/doc/
